body {
  background-image: url("./backgroundday.png");
  background-size: cover; 
  background-repeat: repeat;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
}

buttons {
  margin: 10px;
}